name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.26"

      - name: Install dependencies
        run: go mod tidy

      - name: Install mockgen
        run: go install go.uber.org/mock/mockgen@latest

      - name: Generate Mocks
        run: go generate ./...

      - name: Run Unit Test
        run: go test ./... -v -race
